{% if themes %}

<div class="title">{{ context.forum_name }}</div>
<div style="display: table;">
{% for theme in themes %}
<div class="material" style="display: table-cell; width: 100%; border-radius: 5px 0 0 5px;">
	{{ theme.themeicon }}
	{{ theme.importantly }}<a class="threadLink" href="{{ theme.theme_url }}">{{ theme.title }}</a>{{ theme.near_pages }}
	<br />{{ theme.description }}
	<div class="right">{{ theme.adminbar }}</div>
	<div style="clear:both;"></div>

	Сообщение от: <span class="lastPostUser">{{ theme.last_user }}</span><br />{{ theme.last_post }}

</div>
<a style="text-decoration: none; display: table-cell;min-width: 30px;width: 30px;background-color: #EDEDED; text-align: center; vertical-align: middle;border-top: 1px solid #F6F6F6;border-bottom: 1px solid #E9E9E9;border-left: 1px solid #E7E7E7;border-right: 1px solid #E7E7E7;" href="{{ theme.theme_url }}?page=99999"> » </a>
{% endfor %}
</div>
{% else %}
	<h3>Themes not found</h3>
{% endif %}

</table>