<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{META_DESCRIPTION}" />
<meta name="keywords" content="{META_KEYWORDS}" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="/template/pda/css/style.css" />
<script language="JavaScript" type="text/javascript" src="/data/js/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="/data/js/atom.js"></script>
<script type="text/javascript">
check_pm('{{ fps_user.id }}');

$("select").change(function() {
  window.location = $(this).find(".option_menu:selected").val();
});
</script>
</head>
<body>
<div class="box">

<div class="menu">
		{% if fps_user_id %}
			<a href="/users/info/{{ fps_user_id }}">Анкета</a>
			<a href="/users/in_msg_box/">Почта</a>
			<a href="/chat">Чат</a>
			<a href="/users/logout">Выход</a>
		{% else %}
			<a href="/users/login_form">Вход</a>
			<a href="/users/add_form">Регистрация</a>
			<a href="/chat">Чат</a>
		{% endif %}
</div>
<div class="menu div_menu">
	<a href="/forum">Форум</a>
	<a href="/news">Новости</a>
	<a href="/stat">Статьи</a>
	<a href="/loads">Файлы</a>
	<a href="/foto">Фото</a>
</div>
<select class="menu select_menu" style="color: #616E72;"> 
  <option class="option_menu" value="" selected="selected">Меню</option> 

  <option class="option_menu" value="/">Форум</option> 
  <option class="option_menu" value="/news">Новости</option> 
  <option class="option_menu" value="/stat">Статьи</option> 
  <option class="option_menu" value="/loads">Файлы</option> 
  <option class="option_menu" value="/foto">Фото</option> 
</select>

<script>
$(".select_menu").change(function() {
  window.location = $(this).find(".option_menu:selected").val();
});
</script>

<div class="nav"><div style="float: left">{{ navigation }}</div><div style="float: right">{{ meta }}</div><div style="clear:both;"></div></div>

<div class="cBlock">


<div style="font-size:12px; float:right;">[&nbsp;<a href="/forum/last_posts/">Последние сообщения</a>&nbsp;]</div>
{% if add_link %}
<div style="float:left; width:45%; text-align:left;">
	<div class="add">[&nbsp;{{ add_link }}&nbsp;]</div>
</div>
{% endif %}
<div style="clear:both;"></div>

{{ pagination }}

{{ content }}
					

</div>

<div class="phdr">Статистика:</div>
<div class="cBlock p3px">
	Сейчас online: {{ all_online }}<br />Юзеров: {{ users_online }}<br />Гостей: {{ guests_online }}<br />{{ online_users_list }}
</div>

</div>
</body>
</html>