<hr style="background-color: #333;">
<div style="font-weight: bold;padding: 5px;padding-bottom: 7px;">{{ theme.title }}</div>

{% for post in posts %}
	<div class="material">
	<div style="height: 42px;">
	<img src="{{ post.author.avatar }}" class="avatar_32">

	{% if post.author.status_line == 'Online' %}
	<img alt="online" src="/template/pda/img/online.gif">
	{% endif %}
	{% if post.author.status_line == 'Offline' %}
	<img alt="online" src="/template/pda/img/offline.gif">
	{% endif %}

	{% if post.author.status_title != '0' %}
	<a class="postUser" href="/user/info/{{ post.author.id }}" >{{ post.author.name }}</a>
	{% else %}
	Гость
	{% endif %}
	<br><span class="time">Добавлено: {{ post.time }}</span></div>

	{{ post.message }}<br>

	{{ post.attachment }}

	{{ post.editor_info }}

	{% if fps_user_id %}
	<div class="cBlockn">
	<a href="javascript://" onClick="emoticon('[b]{{ post.author.name }}[/b],');return false;">Ответить</a>&nbsp;{{ post.edit_link }}&nbsp;{{ post.delete_link }}
	</div>
	{% endif %}
	</div>
	<hr>
{% endfor %}

{{ pagination }}

{{ reply_form }}