<script language="JavaScript" type="text/javascript">
l_empty_message = "Вы должны ввести текст сообщения";
l_no_text_selected = "Выделите текст на странице и попробуйте еще раз";
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="return checkForm(this)">

<textarea class="text-area" name="mainText" style="width: 96%; height: 100px;">{{ context.main_text }}</textarea>

<div id="attachments">
<input style="width:20px;" type="button" name="addInput" value="+" onClick="addFileField('attachments');" />
<input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span><br />
</div>

<input class="subm" type="submit" name="submitForm" value="Отправить" style="width: 100%;" />
</form>

