<div class="title">{{ forum.title }}</div>

{% if forum.subforums %}
<a href="{{ forum.cat_url }}">{{ forum.cat_name }}</a>
<table class="forum-hiddener" cellspacing="0" cellpadding="0" id="">

	
	{% if forum.subforums %}
	{% for subforum in forum.subforums %}
	<tr>
		<td width="5%" class="iconTd" align="center">
			<img style="margin:0;padding:0;vertical-align:middle;border:0;" src="{{ subforum.icon_url }}" title="Нет новых сообщений" />
		</td>
		<td width="49%" class="forumNameTd">
			<div class="left">
				<a class="forum" href="{{ subforum.forum_url }}">{{ subforum.title }}</a>  
				<br />
				<span class="forumDescr">{{ subforum.description }}</span>
				<br />
			</div>
			<div class="right">{{ subforum.admin_bar }}</div>
			<div style="clear:both;"></div>
		</td>
		<td width="8%" class="forumThreadTd" align="center">{{ subforum.themes }}</td>
		<td width="8%" class="forumPostTd" align="center">{{ subforum.posts }}</td>
		<td width="30%" class="forumLastPostTd">
			{{ subforum.last_post }}
		</td>
	</tr>
	{% endfor %}
	{% endif %}
</table>
<br />
<br />
{% endif %}

{% if themes %}
<div style="display: table;">
{% for theme in themes %}
<div class="material" style="display: table-cell; width: 100%; border-radius: 5px 0 0 5px;">
	{{ theme.themeicon }}
	{{ theme.importantly }}<a class="threadLink" href="{{ theme.theme_url }}">{{ theme.title }}</a>{{ theme.near_pages }}
	<br />{{ theme.description }}
	<div class="right">{{ theme.adminbar }}</div>
	<div style="clear:both;"></div>

	
	Сообщение от: <span class="lastPostUser">{{ theme.last_user }}</span><br />{{ theme.last_post }}

</div>
<a style="text-decoration: none; display: table-cell;min-width: 30px;width: 30px;background-color: #EDEDED; text-align: center; vertical-align: middle;border-top: 1px solid #F6F6F6;border-bottom: 1px solid #E9E9E9;border-left: 1px solid #E7E7E7;border-right: 1px solid #E7E7E7;" href="{{ theme.theme_url }}?page=99999"> » </a>
{% endfor %}
</div>
{% else %}
	<tr><td colspan="6"><h3>Themes not found</h3></td></tr>
{% endif %}
<hr style="background-color: #333;">
В этом форуме <b>{{ forum.themes }}</b> тем. На странице показано <b>{{ forum.count_themes_here }}</b> тем.
<div class="title">Иконки форума</div>
<div class="material">
<img src="{{ template_path }}/img/folder.gif" /> Нет непрочитанных сообщений
<hr>
<img src="{{ template_path }}/img/folder_new.gif" /> Непрочитанные сообщения
<hr>
<img src="{{ template_path }}/img/folder_lock.gif" /> Закрытая тема
<hr>
<img src="{{ template_path }}/img/folder_lock_new.gif" /> Закрытая тема с новыми сообщениями
<hr>
<img src="{{ template_path }}/img/folder_hot.gif" /> Горячая тема
<hr>
<img src="{{ template_path }}/img/folder_hot_new.gif" /> Горячая тема с новыми сообщениями
</div>
</table>