<div class="title">Добавить комментарий</div>
<div class="comm-pagi">{{ comments_pagination }}</div>
<div class="addcomments-block">
	<form method="POST" action="{{ data.action }}">
{% if fps_user_id == 0 %}
<b>Имя:</b><br>
<input type="text" name="login" value="{{ data.add_comment_name }}" /><br>
{% endif %}
<textarea name="message" style="width: 96%">{{ data.add_comment_message }}</textarea>
<br>
{% if fps_user_id == 0 %}
{{ data.add_comment_captcha }}
<br>
{% endif %}
<input type="submit" name="send" style="width: 100%" value="Отправить" />
</div>
</form>