{% for entity in entities %}
	<div class="title"><a href="{{ entity.add_markers.entry_url }}">{{ entity.title }}</a><div class="mod-panel">{{ entity.add_markers.moder_panel }}</div></div>
	<div class="material">
		{{ entity.add_markers.announce }}
		<div style="clear:both;"></div>
		<hr>
		<span>Автор:&nbsp;<a href="{{ entity.add_markers.profile_url }}">{{ entity.author.name }}</a></span> |
		<span>Просмотров:&nbsp;{{ entity.views }}</span> |
		<span>Добавлен:&nbsp;{{ entity.date }}</span>
	</div>
{% endfor %}
