<div class="cBlock">
	<div class="title"><a style="padding: 5px;" href="{{ entity.add_markers.entry_url }}">{{ entity.title }}</a><div class="mod-panel">{{ entity.add_markers.moder_panel }}</div></div>
	<div class="material">
		<a href="{{ entity.add_markers.main }}"><img alt="{{ entity.add_markers.foto_alt }}" title="{{ entity.add_markers.foto_alt }}" style="max-width:500px; max-height:500px;" src="{{ entity.add_markers.main }}" /></a><br>
		<div class="foto-rotator" style="margin: 7px"><a href="{{ entity.add_markers.previous_url }}" style="padding: 7px">Предыдущее фото</a> | <a href="{{ entity.add_markers.next_url }}" style="padding: 7px">Следующее фото</a></div>
		<hr>
		{{ entity.add_markers.description }}
		<div style="clear:both;"></div>
		<hr>
		<span>Автор:&nbsp;<a href="{{ entity.add_markers.profile_url }}">{{ entity.author.name }}</a></span> |
		<span>Раздел:&nbsp;<a href="{{ entity.add_markers.category_url }}">{{ entity.category.title }}</a></span> |
		<span>Просмотров:&nbsp;{{ entity.views }}</span> |
		<span>Добавлен:&nbsp;{{ entity.date }}</span> |
		<span>Комментариев:&nbsp;{{ entity.comments }}</span>
	</div>
</div>