<script type="text/javascript">

function sebmitChat(e) {
	var message = $("textarea#chatModule").val();
	var message = encodeURIComponent(message);
	var keystring = $("input[name='captcha_keystring']").val();

	var params = 'message='+message;
	if (typeof keystring != 'undefined') params = params + '&captcha_keystring='+keystring;
	
	$("#testAjax").show();
	
	$.post('{{ data.action }}', params, 
		function(resp, data){responseData(resp, data);}
	);
}

function responseData(resp, data) {
	$("#testAjax").hide();
	if (resp != 'ok') {
		$("#chat_meta").html(resp);
	} else {
		var ifr = document.getElementById('fpsChat');
		ifr.src = ifr.src;
		$("#chat_meta").html('');
		$("textarea#chatModule").val('');
		$("input[name='captcha_keystring']").val('');
	}
}




</script>
<div id="chat_meta"></div><img style="display:none;" id="testAjax" src="/admin/template/img/ajaxs.gif" alt="Загрузка" />
<form action="{{ data.action }}" method="POST" onSubmit="sebmitChat(this); return false;">
<table class="chat-addfrom" style="width: 100%">
	<tr>
		<td colspan="2">
		<textarea cols="19" rows="2" id="chatModule" name="message" style="-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%">{{ data.message }}</textarea>
		</td>
	</tr>
		{{ data.captcha }}
	<tr>
		<td style="padding:0px;" colspan="2">
			<input style="font-size:12px;width: 100%;" type="submit" name="send" value="Послать" />
		</td>
	</tr>
</table>
</form>