﻿<div class="material">
<form name="addNewUserForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data">
{% if context.error %}
{{ context.error }}
{% endif %}

<strong>Имя:<span style="color:#F3191E;">*</span></strong><br>
<input type="text" name="login" maxlength="30" value="{{ context.login }}" />
<hr>
<strong>Адрес e-mail:<span style="color:#F3191E;">*</span></strong><br>
<input type="text" name="email" maxlength="60" value="{{ context.email }}" />
<hr>
<strong>Пароль:<span style="color:#F3191E;">*</span></strong><br>
<input type="password" name="password" maxlength="30" value="" />
<hr>
<strong>Подтвердите пароль:<span style="color:#F3191E;">*</span></strong><br>
<input type="password" name="confirm" maxlength="30" value="" />
<hr>
<strong>Пол:<span style="color:#F3191E;">*</span></strong><br>
		Мужской<input type="radio" name="pol" value="1"{{ context.mpol }} />
		Женский<input type="radio" name="pol" value="2"{{ context.fpol }} />
<hr>
<strong>Дата рождния:</strong><br>
		<select style="width:50px;" name="byear">
            {{ context.byears_selector }}
		</select>&nbsp;
		<select style="width:50px;" name="bmonth">
            {{ context.bmonth_selector }}
		</select>
		<select style="width:50px;" name="bday">
            {{ context.bday_selector }}
		</select>
<hr>
<strong>Код подтверждения:<span style="color:#F3191E;">*</span></strong><br/>
Робот не сможет ввести символы с картинки, а вы сможете.
Если символы плохо различимы, кликните по картинке, символы изменятся.<br/>
<img onclick="this.src='/sys/inc/kcaptcha/kc.php/?'+Math.round(Math.random(0)*1000)" src="{{ context.captcha }}" alt="" /><br>
<input type="text" name="keystring" maxlength="6" value="{{ context.keystring }}" />
<hr>
<strong>Коррекция временных зон:</strong><br/>
  Введите необходимую разницу в часах относительно времени на форуме, и все время будет отображаться с учетом
  разницы в вашей временной зоне.<br/>
  <i>Текущее время на сервере: {{ context.servertime }}</i><br/>
  <select name="timezone">
      {{ context.options }}
  </select>
<hr>
  <input type="submit" name="submitForm" value="Отправить" />
</form>
</div>