﻿<div class="material">
<form name="addNewUserFormByAdmin" action="{{ context.action }}" method="POST" enctype="multipart/form-data">
Изменение профиля<br>

{% if context.error %}
{{ context.error }}<hr>
{% endif %}

<strong>Имя:</strong><br/>
<input type="text" name="name" maxlength="30" value="{{ context.login }}" readonly />
<hr>
<strong>Статус:</strong><br/>
{{ context.status }}
<hr>
<strong>Адрес e-mail:</strong><br/>
<input type="text" name="email" maxlength="60" value="{{ context.email }}" />
<input type="hidden" name="oldEmail" value="{{ context.oldemail }}" />
<hr>
<strong>Новый пароль:</strong><br/>
Указывайте пароль <em>только</em> если вы хотите его поменять.<br/>
<input type="password" name="newpassword" maxlength="30" value="" />
<hr>
<strong>Подтвердите пароль:</strong><br/>
Подтверждать пароль нужно в том случае, если вы изменили его выше.<br/>
<input type="password" name="confirm" maxlength="30" value="" />
<hr>
<strong>Номер в ICQ:</strong><br/>
<input type="text" name="icq" maxlength="12" value="{{ context.icq }}" />
<hr>
<strong>Jabber:</strong><br/>
<input type="text" name="jabber" maxlength="100" value="{{ context.jabber }}" />
<hr>
<strong>Пол:</strong><br/>
Мужской<input type="radio" name="pol" value="1"{{ context.mpol }} />
Женский<input type="radio" name="pol" value="2"{{ context.fpol }} />
<hr>
<strong>Город:</strong><br/>
<input type="text" name="city" maxlength="100" value="{{ context.city }}" />
<hr>
<strong>Телефон:</strong><br/>
<input type="text" name="telephone" maxlength="100" value="{{ context.telephone }}" />
<hr>
<strong>Дата рождния:</strong><br/>
<select style="width:50px;" name="byear">
  {{ context.byears_selector }}
</select>&nbsp;
<select style="width:50px;" name="bmonth">
  {{ context.bmonth_selector }}
</select>
<select style="width:50px;" name="bday">
  {{ context.bday_selector }}
</select>
<hr>
<strong>Домашняя страничка:</strong><br/>
<input type="text" name="url" maxlength="60" value="{{ context.url }}" />
<hr>
<strong>Интересы:</strong><br/>
<textarea name="about">{{ context.about }}</textarea>
<hr>
<strong>Подпись:</strong><br/>
Это текст, который будет добавлен к размещаемым пользователем сообщениям.<br>
<textarea name="signature">{{ context.signature }}</textarea>
<hr>
<strong>Коррекция временных зон:</strong><br/>
Введите необходимую разницу в часах относительно времени на форуме, и все время будет отображаться с учетом разницы во временной зоне.
<select name="timezone">
  {{ context.options }}
</select><br/>
Текущее время на сервере: {{ context.servertime }}
<hr>
<strong>Шаблон:</strong><br/>
Здесь можно выбрать оформление сайта<br/>
<select name="template">
 {{ context.template }}
</select>
<hr>
<strong>Аватар:</strong><br/>
Показывает небольшое изображение под информацией о вас в сообщениях.<br/>
<img title="{{ context.name }}" class="userAvatar" border="0" src="{{ context.avatar }}">
<input type="file" name="avatar"  /><br/>
Удалить текущую аватарку(если есть)<br/>
{{ context.unlinkfile }}
<hr>
{{ context.activation }}
<hr>
<input type="submit" name="submitForm" value="Отправить" />
</form>
</div>