<div class="title">Список пользователей сайта</div>
<div class="material">
<table cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
{% if entities %}
    {% for user in entities %}
        <tr>
            <td class="users_table_username">
            {{ user.add_markers.user_name }}
            </td>
            <td>
            {{ user.add_markers.status }}<br>
            Постов:&nbsp;{{ user.posts }}
            </td>
        <tr>
    {% endfor %}
{% endif %}
    </tr>
</table>

<hr>
Сортировать по:<br>
    <a href="?sort=puttime">Дата регистрации</a> | 
    <a href="?sort=name">Имя</a> | 
    <a href="?sort=last_visit">Последний визит</a> | 
    <a href="?sort=status">Статус</a><hr>