<div class="material">
{{ context.error }}
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST"
enctype="multipart/form-data" onsubmit="return checkForm(this)">
Для пользователя:<br>
<input type="text" name="toUser" maxlength="30" value="{{ context.touser }}" style="width: 100%" />
<hr>
Заголовок сообщения:<br>
<input type="text" name="subject" maxlength="60" value="{{ context.subject }}" style="width: 100%" />
<hr>
<textarea class="text-area" name="mainText" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 100%">{{ context.main_text }}</textarea>
<hr>
<input class="subm" type="submit" name="submitForm" value="Отправить" style="width: 100%" />
</form>
</div>